[Desktop Entry]
Exec=/home/common/install/bin/ipcam_basement
Icon=/home/common/install/icon/ipcamera.png
Type=Application
Terminal=false
Name=IPCAM (Basement)
GenericName=IPCAM (Basement)
