[Desktop Entry]
Exec=/home/common/install/bin/ipcam_sarah
Icon=/home/common/install/icon/ipcamera.png
Type=Application
Terminal=false
Name=IPCAM (Sarah)
GenericName=IPCAM (Sarah)
