[Desktop Entry]
Name=MATLAB
Comment=MATLAB
Type=Application
Encoding=UTF-8
Path=/home/tony
Exec=/home/common/MATLAB/R2020b/bin/glnxa64/MATLAB -desktop -prefersoftwareopengl
Icon=/home/common/install/icon/matlab.png
Categories=GNOME;Application;Development;
Terminal=false
StartupNotify=true
Name[en_US]=MATLAB
